{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "eol-last": ["error", "always"],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
